# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test
/_test/
/apiserver.local.config/
/_out/

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Ignore Helm charts
/charts/

# JetBrains
.idea
